.footer {
  text-align: center;
  line-height: 1rem;
  background-color: #ffffff;
  font-size: 0.8rem;
  font-weight: 350;
}

.footer-text-container {
  background-color: #f47323;
  display: grid;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.footer-text-container p {
  margin: 0.25rem auto;
}

.footer-text-container b {
  text-decoration: underline;
}

footer a {
  text-decoration: none;
  color: #fff;
}

.pasma-image {
  width: 18rem;
  margin: 1rem auto 0 auto;
}

.certificates-desktop {
  display: none;
}

.certificates-mobile {
  width: 20rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
}

.certificate-image {
  height: 5rem;
  width: 80%;
  margin: 0.5rem auto;
}

@media only screen and (min-width: 980px) {

  .pasma-image {
    display: none
  }

  .certificates-mobile{
    display: none
  }

  .certificates-desktop {
    width: 80%;
    margin: 0 auto;
    height: 7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
  }

  .certificate-image {
    height: 5rem;
    width: 8rem;
  }

  .footer-text-container {
    display: flex;
    justify-content: space-around;
    height: 2rem;
    padding: 1rem;
  }

  .footer-text-container p {
    margin: 0;
  }
}