.footer {
  text-align: center;
  line-height: 1rem;
  background-color: #ffffff;
  font-size: 0.8rem;
  font-weight: 350;
}

.footer-text-container {
  background-color: #f47323;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0,
}

footer a {
  text-decoration: none;
  color: #fff;
}

.certificates {
  width: 20rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 0;
  background-color: #fff;
}

.certificate-image {
  height: 5rem;
  width: 80%;
  margin: 0.5rem auto;
}

@media only screen and (min-width: 980px) {

  .certificates {
    width: 80%;
    height: 7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .certificate-image {
    height: 5rem;
    width: 8rem;
  }

  .footer-text-container {
    height: 2rem;
    padding: 1rem;
  }
}