.home-intro-desktop {
  display: none;
}

.home-intro-mobile {
  height: 36rem;
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  border-bottom: 1px solid #cecdcd;
  background-image: url('.././images/mobile_bathroom_intro.png');
  background-size: cover;
  animation: fadein 1s;
}

.intro {
  display: grid;
  height: 100%;
  max-width: 480px;
  margin: 0 auto;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.intro-heading {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.75rem;
  padding-bottom: 0.5rem;
  margin: 1rem auto;
}

.intro-text {
  line-height: 1.5em;
  padding: 0 1.5rem;
}

.email-logo {
  font-size: 1rem;
  margin-right: 0.25rem;
}

.intro-number,
.intro-email {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1rem;
  background-color: #f47323;
  max-width: 320px;
  padding: 0.75rem;
  margin: 1rem auto;
  border-radius: 100px;
  text-shadow: none;
}

.intro-email {
  background-color: #104ca0;
}

.intro-top-tip {
  width: 95%;
  margin: 0 auto;
  font-size: 0.6rem;
  margin-bottom: 1rem;
}

.intro-email a {
  color: #fff;
}

.intro-email a:focus,
.intro-number a:focus {
  color: #fff;
}

.home-services-container {
  border-bottom: 4px solid #f47323;
  width: 80%;
  margin: 0 auto 2rem;
  display: flex;
}

.home-services {
  width: 100%;
 }
 
.home-services-text {
  color: #626466;
  text-align: center;
  line-height: 1.5em;
  margin: 1rem 0;
  font-size: 1rem;
}

.quote-container {
  display: none;
}

.repairs-container {
  background-color: #104ca0;
  text-align: center;
  padding: 1rem;
}

.repair-heading {
  font-size: 1.5em;
  margin: 0 auto 1.5rem auto;
}

.repairs-text {
  line-height: 1.5rem;
  margin: 0.25em;
}

@media only screen and (min-width: 980px) {

  .home-intro-mobile {
    display: none;
  }

  .home-intro-desktop {
    display: block;
    border-bottom: 1px solid #cecdcd;
    background-image: url('.././images/desktop_bathroom.png');
    background-size: cover;
    animation: fadein 1s;
  }

  .home-intro-container {
    display: flex;
    height: 35rem;
    margin: 0 auto;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    max-width: 1400px;
  }

  .intro-heading {
    font-size: 2rem;
    margin: 2rem auto 0 auto;
    padding: 0.25rem;
  }

  .intro {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
  }

  .intro a,
  .intro-email {
    width: 75%;
    font-size: 1.1rem;
  }

  .intro-top-tip {
    font-size: 0.75rem;
    margin-bottom: 0;
  }

  .intro-number:hover {
    background-color: #ea5b02;
    color: #fff;
    cursor: pointer;
  }

  .intro-email:hover {
    background-color: #072b5d;
    cursor: pointer;
  }

  .intro-image-article {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .intro-image-container {
    position: relative;
  }

  .intro-image {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    border: 3px solid #fff;
  }

  .intro-image-text {
    width: 6rem;
    height: 6rem;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #104ca0;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: -1rem;
    left: -2.5rem;
  }

  .home-services-container {
    max-width: 1148px;
  }

  .home-services {
    width: 65%;
    margin: 1.5em 0;
   }

   .home-services-text {
    text-align: left;
    line-height: 1.25em;
    margin: 1.5em 0;
    font-size: 1.1rem;
  }

  .quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    margin: 1.5em 0;
  }
  
  .quote {
    height: 80%;
    width: 70%;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
  }

  .quote-heading {
    width: 100%;
    margin-top: 3rem;
    font-size: 1.25rem;
    text-align: center;
    color: #104ca0;
    font-weight: 700;
  }
  
  .quote-text {
    margin: 2rem 1rem;
    color: #104ca0;
    text-align: center;
    line-height: 1.5rem;
  }
  
  .quote-email {
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
  }

  .quote-email a {
    color: #f47323;
  }

  .quote-email a:hover {
    color: #104ca0;
    cursor: pointer;
  }

  .quote-number {
    width: 85%;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #f47323;
    border: none;
    border-radius: 100px;
    color: #fff;
    text-align: center;
    font-size: 0.9rem;
  }
  
  .quote-number a {
    color: #fff;
  }

  .quote-number:hover {
    background-color: #ea5b02;
    color: #fff;
    cursor: pointer;
  }

}

@media only screen and (min-width: 1138px) {

  .home-intro-desktop {
    font-size: 1.25rem;
  }

  .intro-heading {
    font-size: 2.5rem;
    padding: 0.25rem;
    margin: 2rem auto 0 auto;
  }

  .quote-number {
    font-size: 1rem;
  }

  .intro-image {
    width: 17rem;
    height: 17rem;
  }

  .intro-image-text {
    width: 7rem;
    height: 7rem;
    font-size: 1.25rem;
    top: -1rem;
    left: -3,75rem;
  }

  .home-services-text {
    font-size: 1.15rem;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}