.main-home-intro-desktop {
  display: none;
}

.main-home-intro-mobile {
  height: 35rem;
  margin: 0 auto;
  font-size: 1.25em;
  font-weight: 500;
  text-align: center;
  border-bottom: 1px solid #cecdcd;
  background-blend-mode: overlay;
  background-color: rgba(36, 35, 62, 0.4);
  background-image: url('.././images/mobile_bathroom.avif');
  background-size: cover;
}

.main-home-content {
  border-bottom: 4px solid #f47323;
  width: 80%;
  margin: 0 auto 2em;
  display: flex;
}

/* home intro */
.intro {
  display: grid;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.intro-heading {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.75rem;
  padding-bottom: 0.5rem;
  margin: 1rem auto;
  /* border-bottom: 3px solid #fff; */
}

.intro-text {
  line-height: 1.5em;
  padding: 0 1.5rem;
}

.email-logo {
  font-weight: 700;
  margin-right: 0.25rem;
}

.intro-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  font-size: 1rem;
  background-color: #f47323;
  width: 80%;
  max-width: 20rem;
  padding: 0.75em;
  margin: 1rem auto;
  border-radius: 100px;
  cursor: pointer;
}

.intro-contact:hover {
  background-color: #ec9056;
}

.intro-contact:nth-of-type(2),
.intro-contact:nth-of-type(4) {
  background-color: #104ca0;
}

.intro-contact:nth-of-type(2):hover,
.intro-contact:nth-of-type(4):hover {
  background-color: #072b5d;
}

/* services */
.home-services {
  width: 100%;
 }
 
.home-services-text {
  color: #626466;
  text-align: center;
  line-height: 1.5em;
  margin: 1rem 0;
  font-size: 1.15rem;
}

.quote {
  display: none;
}

/* repairs */
.repairs {
  width: 100%;
  background-color: #104ca0;
  text-align: center;
  padding: 1rem;
}

.repair-heading {
  width: 100%;
  font-size: 1.5em;
  margin: 0 auto 1.5rem auto;
}

.repairs-text {
  line-height: 1.5rem;
  margin: 0.25em;
}

@media only screen and (min-width: 980px) {

  .main-home-intro-mobile {
    display: none;
  }

  .main-home-intro-desktop {
    display: flex;
    height: 35rem;
    margin: 0 auto;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    border-bottom: 1px solid #cecdcd;
    background-blend-mode: overlay;
    background-color: rgba(93, 92, 89, 0.4);
    background-image: url('.././images/desktop_bathroom.png');
    background-size: cover;
  }

  .intro-heading {
    font-size: 2rem;
    margin: 2rem auto 0 auto;
    padding: 0.25rem;
  }

  .intro {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
  }

  .intro-contact {
    width: 75%;
    font-size: 1.1rem;
  }

   .home-services {
    width: 65%;
    margin: 1.5em 0;
   }

   .home-services-text {
    text-align: left;
    line-height: 1.25em;
    margin: 1.5em 0;
  }

  .quote {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    margin: 1.5em 0;
  }
  
  .quote-req {
    height: 80%;
    width: 70%;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .quote-req-heading {
    width: 100%;
    margin-top: 3rem;
    font-size: 1.25rem;
    text-align: center;
    color: #104ca0;
    font-weight: 700;
  }
  
  .quote-text {
    margin: 2rem 1rem;
    color: #104ca0;
    text-align: center;
    line-height: 1.5rem;
  }
  
  .quote-email {
    width: 100%;
    font-size: 1.1rem;
    text-align: center;
    color: #f47323;
  }

  .quote-email:hover {
    color: #104ca0;
    cursor: pointer;
  }

  .quote-number {
    width: 85%;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #f47323;
    border: none;
    border-radius: 100px;
    color: #fff;
    text-align: center;
    font-size: 0.9rem;
  }
  
  .quote-number:hover {
    background-color: #ec9056;
    cursor: pointer;
  }

}

@media only screen and (min-width: 1138px) {

  .intro-heading {
    font-size: 2.5rem;
    padding: 0.25rem;
    margin: 2rem auto 0 auto;
  }

  .quote-number {
    font-size: 1rem;
  }
}