@media only screen and (min-width: 980px) {

  .intro-image-article {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .intro-image-container {
    position: relative;
  }

  .intro-image {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    border: 3px solid #fff;
  }

  .intro-image-text {
    width: 6rem;
    height: 6rem;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #104ca0;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: -1rem;
    left: -2.5rem;
  }
}

@media only screen and (min-width: 1138px) {

  .intro-image {
    width: 17rem;
    height: 17rem;
    transition: all 0.9s ease;
  }

  .intro-image-text {
    width: 7rem;
    height: 7rem;
    font-size: 1.25rem;
    top: -1rem;
    left: -3,75rem;
  }
}
