@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, 
a, em, img, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
  text-decoration: none;
}

article, aside, footer, header, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

body {
  line-height: 1;
  background-color: #fbfafa;
  font-family: system-ui;
  color: #fff;
  min-width: 20rem;
}

