.navbar {
  width: 100%;
  height: 5rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.revive-logo {
  height: 4rem;
  margin-left: 1rem;
}

.menu-closebtn,
.menu-openbtn {
  background-color: #fff;
  border: none;
  margin-right: 1.5rem;
  color: #104ca0;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-container {
  position: relative;
}

.mobile-menu {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  border-bottom: 1px solid #cecdcd;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.nav-links {
  height: 20rem;
  padding-top: 2rem;
  display: grid;
}

.nav-links li {
  color: #104ca0;
  font-size: 1.25rem;
  text-align: center;
  font-weight: 500;
}

ul .nav-links-contact {
  font-size: 1rem;
  font-weight: 400;
}

ul .nav-links-contact:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links li:hover {
  color: #f47323;
  cursor: pointer;
}

.desktop {
  display: none;
}

@media only screen and (min-width: 980px) {

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  .nav-contacts {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #f47323;
    height: 1.5rem;
  }

  .navbar {
    height: 7rem;
    border-bottom: 1px solid #cecdcd;
  }

  .contact-details {
    height: 1.5rem;
    display: flex;
    align-items: center;
    margin-left: 2rem;
  } 
  
  span.contact-logo {
    font-size: 1rem;
  }

  .contact-details p {
    margin: 0 1rem 0 0.1rem;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.3px;
  }

  .contact-details .contact-logo:hover,
  .contact-details p:hover {
    cursor: pointer;
  }

  .contact-logo {
    font-size: 1.5em;
  }

  .placeholder {
    margin-left: 3em;
  }

  .revive-logo {
    height: 6em;
    margin-left: 2em;
  }

  .nav-links {
    height: 6rem;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 3em;
  }

  .nav-links li {
    margin: 0 2rem;
    font-weight: 400;
    font-size: 1.1rem;
  }

}

@media only screen and (min-width: 1138px) {

  .nav-links li {
    margin: 0 2.5rem;
  }

}