.services-intro {
  background-image: url('../assets/backgroundImages/mobile_bathroom_services_bg.webp');
  background-size: cover;
  width: 100%;
  animation: fadein 1s;
}

.services-intro-container {
  margin: 0 auto;
  text-align: center;
  background-size: cover;
  border-bottom: 0.2rem solid #f47323;
}

.services {
  margin: 0 auto;
  height: 28rem;
  font-size: 1rem;
  display: grid;
  color: #104ca0;
  border-bottom: 1px solid #cecdcd;
  padding-bottom: 1rem;
}

.services h2 {
  text-align: center;
  height: 2rem;
  margin: 2rem auto 1rem auto;
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: 0.2rem solid #f47323;
} 

.services-text {
 font-size: 0.92rem;
 line-height: 1.5rem;
 margin: 0 1.5rem;
}

.area-list-container {
  width: 100%;
  display: flex;
  padding: 0 1rem;
}

.area-list {
  width: 50%;
  line-height: 1.5rem;
  font-weight: 500;
}

.services-detail-heading {
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 600;
  letter-spacing: 0.075rem;
  color: #104ca0;
  padding: 2rem 0 1rem 0;
}

.services-detail-container {
  width: 100%;
  display: grid;  
  grid-template-columns: 1fr 1fr;
  margin: 1rem auto;
  text-align: center;
}

.services-detail {
  padding: auto 1rem;
  margin: 1rem auto;
  font-size: 1rem; 
}

.services-detail h3 {
  margin: 0.5rem auto;
  font-size: 1rem;
  font-weight: 500;
  color: #104ca0;
}

.check-circle {
  font-weight: 700;
  color: #f47323;
}

@media only screen and (min-width: 980px) {

  .services-intro {
    background-image: url('../assets/backgroundImages/desktop_bathroom_bg.webp');
    background-size: cover;
    animation: fadein 1s;
  }

  .services-intro-container {
    height: 35rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid #cecdcd;
    max-width: 1400px;
  }

  .services {
    width: 20rem;
    height: 28rem;
    opacity: 0.95;
    margin: auto;
    border: 1px solid #cecdcd;
    border-radius: 1rem;
    background-color: #fff;
  }
  
  .services-detail-heading {
    width: 80%;
    margin: 3rem auto 0 auto;
    border-top: 0.2rem solid #f47323;
  }

  .services-detail-container {
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-bottom: 2rem;
    border-bottom: 0.2rem solid #f47323;
    margin-bottom: 2rem;
  }

  .services-detail h3 {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1138px) {

  .services-detail h3 {
    font-size: 1.1rem;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}